<center>
    <img src="/static/EsrbLogo.png" height=400 />
    <form method="POST">
        <label>Predict Game Rating </label>
        <br>
        <hr>
        <br>
        <p>Game Features</p>
        <div align="left">
        <div style="padding-left:48%">    
            <div>
            <input type="checkbox" id="console" name="console"
                    checked>
            <label for="console">On Console</label>
            </div>

            <div>
            <input type="checkbox" id="alcoholReference" name="alcoholReference">
            <label for="alcoholReference">Alcohol Reference</label>
            </div>

            <div>
            <input type="checkbox" id="animatedBlood" name="animatedBlood">
            <label for="animatedBlood">Animated Blood</label>
            </div>

            <div>
            <input type="checkbox" id="Blood" name="Blood">
            <label for="Blood">Blood</label>
            </div>

            <div>
            <input type="checkbox" id="bloodAndGore" name="bloodAndGore">
            <label for="bloodAndGore">Blood And Gore</label>
            </div>

            <div>
            <input type="checkbox" id="cartoonViolence" name="cartoonViolence">
            <label for="cartoonViolence">Cartoon Violence</label>
            </div>

            <div>
            <input type="checkbox" id="crudehumor" name="crudehumor">
            <label for="crudehumor">Crude Humor</label>
            </div>

            <div>
            <input type="checkbox" id="drugReference" name="drugReference">
            <label for="drugReference">Drug Reference</label>
            </div>

            <div>
            <input type="checkbox" id="fantasyViolence" name="fantasyViolence">
            <label for="fantasyViolence">Fantasy Violence</label>
            </div>

            <div>
            <input type="checkbox" id="intenseViolence" name="intenseViolence">
            <label for="intenseViolence">Intense Violence</label>
            </div>

            <div>
            <input type="checkbox" id="language" name="language">
            <label for="language">Language</label>
            </div>

            <div>
            <input type="checkbox" id="lyrics" name="lyrics">
            <label for="lyrics">Lyrics</label>
            </div>

            <div>
            <input type="checkbox" id="matureHumor" name="matureHumor">
            <label for="matureHumor">Mature Humor</label>
            </div>

            <div>
            <input type="checkbox" id="mildBlood" name="mildBlood">
            <label for="mildBlood">Mild Blood</label>
            </div>

            <div>
            <input type="checkbox" id="mildCartoonViolence" name="mildCartoonViolence">
            <label for="mildCartoonViolence">Mild Cartoon Violence</label>
            </div>

            <div>
            <input type="checkbox" id="mildFantasyViolence" name="mildFantasyViolence">
            <label for="mildFantasyViolence">Mild Fantasy Violence</label>
            </div>

            <div>
            <input type="checkbox" id="mildLanguage" name="mildLanguage">
            <label for="mildLanguage">Mild Language</label>
            </div>

            <div>
            <input type="checkbox" id="mildLyrics" name="mildLyrics">
            <label for="mildLyrics">Mild Lyrics</label>
            </div>

            <div>
            <input type="checkbox" id="mildSuggestiveThemes" name="mildSuggestiveThemes">
            <label for="mildSuggestiveThemes">Mild Suggestive Themes</label>
            </div>

            <div>
            <input type="checkbox" id="mildViolence" name="mildViolence">
            <label for="mildViolence">Mild Violence</label>
            </div>

            <div>
            <input type="checkbox" id="noDescriptors" name="noDescriptors">
            <label for="noDescriptors">No Descriptors</label>
            </div>

            <div>
            <input type="checkbox" id="nudity" name="nudity">
            <label for="nudity">Nudity</label>
            </div>

            <div>
            <input type="checkbox" id="partialNudity" name="partialNudity">
            <label for="partialNudity">Partial Nudity</label>
            </div>

            <div>
            <input type="checkbox" id="sexualContent" name="sexualContent">
            <label for="sexualContent">Sexual Content</label>
            </div>

            <div>
            <input type="checkbox" id="sexualThemes" name="sexualThemes">
            <label for="sexualThemes">Sexual Themes</label>
            </div>

            <div>
            <input type="checkbox" id="simulatedGambling" name="simulatedGambling">
            <label for="simulatedGambling">Simulated Gambling</label>
            </div>

            <div>
            <input type="checkbox" id="strongLanguage" name="strongLanguage">
            <label for="strongLanguage">Strong Language</label>
            </div>

            <div>
            <input type="checkbox" id="strongSexualContent" name="strongSexualContent">
            <label for="strongSexualContent">Strong Sexual Content</label>
            </div>

            <div>
            <input type="checkbox" id="suggestiveThemes" name="suggestiveThemes">
            <label for="suggestiveThemes">Suggestive Themes</label>
            </div>

            <div>
            <input type="checkbox" id="useOfAlcohol" name="useOfAlcohol">
            <label for="useOfAlcohol">Use Of Alcohol</label>
            </div>

            <div>
            <input type="checkbox" id="useOfDrugsAndAlcohol" name="useOfDrugsAndAlcohol">
            <label for="useOfDrugsAndAlcohol">Use Of Drugs And Alcohol</label>
            </div>

            <div>
            <input type="checkbox" id="Violence" name="Violence">
            <label for="Violence">Violence</label>
            </div>
  
        </div>
        </ul>
        <br>
        <div align="center">
        <input type="submit">
        </div>

    </form>
</center>

