<center>
    
    <img src="/static/EsrbLogo.png" height=400 />
    <form method="POST">
        <br>
        <label>Predict Game Rating </label>
        <br>
        <hr>
        <label>The game rating is:</label>
        <br>
        <label>{{ data }}</label>
        <br>
        <br>
        <img src="/static/distributionOfRatings.png" height=300 />
        <br>
        <br>
        <img src="/static/distributionOfTitleOnConsole.png" height=300 />
        <br>
        <br>
        <img src="/static/distributionOfFeatures.png" height=300 />
        <br>
        <br>
    
    </form>
</center>